<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        {{>header}}
        <p> This site was created by Akshita Agarwal. It uses data from mapbox and darksky.net</p>
        <img src="/Users/akshitaagarwal/Documents/WebServer-NodeJS/public/img/nodejs-logo.png" alt="Node logo"/>
        {{>footer}}
    </body>
</html>