<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        //syntax for using partials
        {{>header}}
        <img src="public/img/nodejs-logo.png" alt="Node logo"/>
        <p>created by: {{name}}</p>
        {{>footer}}
    </body>
</html>