<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h1>Help Page</h1>
        <h3>Message: {{msg}}</h3>
        {{>footer}}
    </body>
</html>